body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: lightblue;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 0 auto;
}
#input-file {
  display: none;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customizing-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img-div {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.umbrella-img {
  width: 100%;
  max-width: 600px;
}

.loader-container {
  opacity: 0;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-container img {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

.logo-div {
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 20%;
  height: 5%;
  opacity: 0;
}

.customizing-content {
  width: 100%;
  text-align: left;
  padding: 2rem;
}

.color-selectors {
  display: flex;
  margin-bottom: 1rem;
}

.color-selector {
  cursor: pointer;
  margin-right: 1rem;
}

.upload-btn {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 1rem;
  text-align: left;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}
.upload-btn:hover {
  background-color: lightgray;
}

.upload-btn img {
  margin-right: 0.5rem;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .image-container,
  .customizing-container {
    width: 100%;
  }

  .img-container {
    width: 100%;
  }

  .umbrella-img {
    width: 100%;
  }

  .customizing-content {
    padding: 1rem;
  }
}
